.App {
  text-align: center;
}

.header {
  border: 1px solid red;
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #D4F5F5;
  color: black;
}

img {
  position: relative;
  width: 7%;
  height: auto;
  margin: 12px;
}

h1 {
  margin: auto 50px;
}

.contain-form{
display: flex;
width: 30%;
border: 1px solid red;
/* flex-direction: column; */
justify-content: center;
position: relative;
top: 15vh;
left: 35%;
}


.form >  input[type=text]{
  width: 60%;
  padding: 10px 11px 11px 11px;
  /* padding: 10px 11px 11px 11px; */
  margin: 3px 10px;;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: left;
  font-size: 15px;
}

.form > input[type=submit] {
  width: 60%;
  background-color:#D4F5F5;
  color: black;
  font-weight: bold;
  font-size:15px;
  padding: 12px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(126, 216, 216);
  transition: 800ms;
}

.query {
  border: 1px solid green;
  width: 20%;
  font-weight: bold;
  font-size:15px;
  padding: 6px 1px;
  margin: 0px auto;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  top: 5vh;
  
}

.query > button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
}

.query > input[type=submit]{
  width: 20%;
  background-color:#D4F5F5;
  color: black;
  font-weight: bold;
  font-size:15px;
  padding: 1px 1px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.query > input[type=submit]:hover {
  background-color: rgb(126, 216, 216);
  transition: 800ms;
}

.collections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid violet;
  position: relative;
  top: 10vh;
  flex-wrap: wrap;
}

/* .contained {
      display: flex;
      border: 1px solid yellow;
      justify-content: center;
  } */

.skates > img {
  position: relative;
  width: 30%;
  height: auto;
}

b {
  color:rgb(122, 148, 83);
  font-style: oblique;
}
