.App {
    text-align: center;
}

.header{
    border: 1px solid red;
    height: 10vh;
    width: 100%;
    display: flex;
}
  
  .collections{
      display: flex;
      flex-direction: row;
      justify-content: center;
    border:1px solid violet;
    position: relative;
    top: 10vh;
  }

  /* .contained {
      display: flex;
      border: 1px solid yellow;
      justify-content: center;
  } */
img {
    position: relative;
    width:9%;
    height: auto;

}

.skates > img {
  position: relative;
  width: 30%;
  height: auto;
}
